<section class="todoapp">
    <app-header [title]="title" [placeholder]="placeholder" (addTodo)="addTodo($event)"></app-header>
    <!-- This section should be hidden by default and shown when there are todos -->
    <section class="main">
        <input class="toggle-all" type="checkbox" (click)="checkAll()">
        <label for="toggle-all">Mark all as complete</label>
        <ul class="todo-list">
            <app-li [(todos)]="todos" [filterSelected]="filterSelected"></app-li>
        </ul>
    </section>
    <!-- This footer should hidden by default and shown when there are todos -->
    <footer class="footer" *ngIf="todos.length > 0">
        <!-- This should be `0 items left` by default -->
        <span class="todo-count"><strong>{{ todoLeft }}</strong> item left</span>
        <!-- Remove this if you don't implement routing -->
        <app-filter [(filterSelected)]="filterSelected"></app-filter>
        <!-- Hidden if no completed items are left ↓ -->
        <button class="clear-completed" (click)="clearComplete()">Clear completed</button>
    </footer>
</section>
<app-footer></app-footer>